<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Clientes</title>
    <meta name="viewport" content='width=device-width, initial-scale=1'>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/cadastro_clientes.css' %}">
</head>
<body>
    <header>
        <nav>
            <img src="{% static 'trade/images/trade.agile.png' %}" alt="Logo" class="logo">
            <ul>
                <li class="topico"><a href="{% url 'home' %}">Início</a></li>
                <li class="topico-atual"><a href="{% url 'cadastro_clientes' %}">Cadastro</a></li>
                <li class="topico"><a href="{% url 'demonstrativo_tabelas' %}">Tabela</a></li>
                <li class="topico"><a href="{% url 'realizar_venda' %}">Vendas</a></li>
                <li class="topico"><a href="{% url 'galeria_produtos' %}">Galeria</a></li>
            </ul>
        </nav>
    </header>

    <h1 class="titulo">Cadastro de Clientes</h1>
<div class="container-form">
    <form method="post" class="form-cadastro">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-cadastrar">Cadastrar</button>
    </form>
</div>

    <footer>
        <p>&copy; 2024 Trade.Agile - Todos os direitos reservados ao Senai.</p>
        <p><a href="#">Termos e Condições</a> | <a href="#">Política e Privacidade</a></p>
    </footer>
</body>
</html>
