<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Clientes</title>
    <meta name="viewport" content='width=device-width, initial-scale=1'>
    {% load static %}
    <!-- Carrega o arquivo de estilos CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/cadastro_clientes.css' %}">
</head>
<body>
    <!-- Cabeçalho da página -->
    <header>
        <!-- Navegação -->
        <nav>
            <!-- Logo -->
            <img src="{% static 'trade/images/trade.agile.png' %}" alt="Logo" class="logo">
            <!-- Lista de links -->
            <ul>
                <li class="topico"><a href="{% url 'home' %}">Início</a></li>
                <li class="topico-atual"><a href="{% url 'cadastro_clientes' %}">Cadastro</a></li>
                <li class="topico"><a href="{% url 'demonstrativo_tabelas' %}">Tabela</a></li>
                <li class="topico"><a href="{% url 'realizar_venda' %}">Vendas</a></li>
                <li class="topico"><a href="{% url 'galeria_produtos' %}">Galeria</a></li>
            </ul>
        </nav>
    </header>

    <!-- Título da página -->
    <h1 class="titulo">Cadastro de Clientes</h1>

    <!-- Container do formulário -->
    <div class="container-form">
        <!-- Formulário de cadastro de clientes -->
        <form method="post" class="form-cadastro">
            {% csrf_token %}
            {{ form.as_p }}
            <!-- Botão de cadastro -->
            <button type="submit" class="btn-cadastrar">Cadastrar</button>
        </form>
    </div>

    <!-- Rodapé da página -->
    <footer>
        <!-- Informações de direitos autorais -->
        <p>&copy; 2024 Trade.Agile - Todos os direitos reservados ao Senai.</p>
        <!-- Links para termos e política de privacidade -->
        <p><a href="#">Termos e Condições</a> | <a href="#">Política e Privacidade</a></p>
    </footer>
</body>
</html>
