<!DOCTYPE html>
<html>
<head>
    <title>Galeria de Produtos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!-- Carrega o arquivo de estilos CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/galeria_produtos.css' %}">
</head>
<body>
    <!-- Cabeçalho da página -->
    <header>
        <!-- Navegação -->
        <nav>
            <!-- Logo -->
            <img src="{% static 'trade/images/trade.agile.png' %}" alt="Logo" class="logo">
            <!-- Lista de links -->
            <ul>
                <li class="topico"><a href="{% url 'home' %}">Início</a></li>
                <li class="topico"><a href="{% url 'cadastro_clientes' %}">Cadastro</a></li>
                <li class="topico"><a href="{% url 'demonstrativo_tabelas' %}">Tabela</a></li>
                <li class="topico"><a href="{% url 'realizar_venda' %}">Vendas</a></li>
                <li class="topico-atual"><a href="{% url 'galeria_produtos' %}">Galeria</a></li>
            </ul>
        </nav>
    </header>

    <!-- Container da galeria de produtos -->
    <div class="gallery">
        <!-- Loop para exibir cada produto -->
        {% for produto in produtos %}
        <div class="produto">
            <!-- Imagem do produto -->
            <img src="{% static 'trade/images/trade.agile.png' %}" alt="Imagem do Produto">
            <!-- Informações do produto -->
            <div class="produto-info">
                <h2>{{ produto.descprod }}</h2>
                <p>Código: {{ produto.codiprod }}</p>
                <p>Valor: R$ {{ produto.valorprod }}</p>
                <p>Situação: {{ produto.situprod }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Rodapé da página -->
    <footer>
        <!-- Informações de direitos autorais -->
        <p>&copy; 2024 Trade.Agile - Todos os direitos reservados ao Senai.</p>
        <!-- Links para termos e política de privacidade -->
        <p><a href="#">Termos e Condições</a> | <a href="#">Política e Privacidade</a></p>
    </footer>
</body>
</html>
