<!DOCTYPE html>
<html>
<head>
    <title>Realizar Venda</title> <!-- Título da página -->
    <meta name="viewport" content='width=device-width, initial-scale=1'> <!-- Configuração de viewport para responsividade -->
    {% load static %} <!-- Carrega arquivos estáticos usando Django templating -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/realizar_venda.css' %}"> <!-- Link para o arquivo CSS específico -->
</head>
<body>
    <header>
        <nav>
            <img src="{% static 'trade/images/trade.agile.png' %}" alt="Logo" class="logo"> <!-- Logo da empresa -->
            <ul>
                <li class="topico"><a href="{% url 'home' %}">Início</a></li> <!-- Link para a página inicial -->
                <li class="topico"><a href="{% url 'cadastro_clientes' %}">Cadastro</a></li> <!-- Link para cadastro de clientes -->
                <li class="topico"><a href="{% url 'demonstrativo_tabelas' %}">Tabela</a></li> <!-- Link para demonstrativo de tabelas -->
                <li class="topico-atual"><a href="{% url 'realizar_venda' %}">Vendas</a></li> <!-- Link atual, página de vendas -->
                <li class="topico"><a href="{% url 'galeria_produtos' %}">Galeria</a></li> <!-- Link para galeria de produtos -->
            </ul>
        </nav>
    </header>

    <h1>Realizar Venda</h1> <!-- Título principal da seção -->

    <form method="post" class="form-cadastro">
        {% csrf_token %} <!-- Token CSRF para proteção contra ataques -->

        <label for="cliente">Cliente:</label> <!-- Label para seleção de cliente -->
        <select id="cliente" name="cliente"> <!-- Dropdown para seleção de cliente -->
            {% for cliente in clientes %}
                <option value="{{ cliente.idcli }}">{{ cliente.nomecli }}</option> <!-- Opções de clientes disponíveis -->
            {% endfor %}
        </select>

        <label for="produto">Produto:</label> <!-- Label para seleção de produto -->
        <select id="produto" name="produto"> <!-- Dropdown para seleção de produto -->
            {% for produto in produtos %}
                <option value="{{ produto.idprod }}">{{ produto.descprod }}</option> <!-- Opções de produtos disponíveis -->
            {% endfor %}
        </select>

        <label for="quantidade">Quantidade:</label> <!-- Label para entrada de quantidade -->
        <input type="number" id="quantidade" name="quantidade" min="1"> <!-- Campo para inserção da quantidade -->

        <button type="submit" class="btn-submit">Realizar Venda</button> <!-- Botão para submeter o formulário de venda -->
    </form>

    <footer>
        <p>&copy; 2024 Trade.Agile - Todos os direitos reservados ao Senai.</p> <!-- Texto de direitos autorais -->
        <p><a href="#">Termos e Condições</a> | <a href="#">Política e Privacidade</a></p> <!-- Links para termos e política de privacidade -->
    </footer>
</body>
</html>
