/* Estilização do cabeçalho */
header {
    background-color: #000000; /* Cor de fundo preta */
    color: #ffffff; /* Cor do texto branca */
    padding: 0; /* Remover padding padrão */
    display: flex; /* Usar flexbox para layout */
    justify-content: space-between; /* Espaçamento entre elementos */
    align-items: center; /* Centralizar itens verticalmente */
    height: 70px; /* Altura do cabeçalho */
}

/* Estilização do corpo da página */
body {
    font-family: 'Arial', sans-serif; /* Fonte padrão */
    margin: 0; /* Remover margens padrão */
    padding: 0; /* Remover padding padrão */
    background-color: #ffffff; /* Cor de fundo branca */
    overflow-x: hidden; /* Ocultar rolagem horizontal */
}

/* Estilização da lista de navegação */
nav ul {
    list-style-type: none; /* Remover marcadores de lista */
    margin: 0; /* Remover margem padrão */
    padding: 0; /* Remover padding padrão */
    display: flex; /* Usar flexbox para layout */
    justify-content: center; /* Centralizar itens horizontalmente */
    gap: 222px; /* Espaçamento entre os itens */
}

/* Estilização dos links de navegação */
nav a {
    color: #ffffff; /* Cor do texto branca */
    text-decoration: none; /* Remover decoração de link */
    font-weight: bold; /* Texto em negrito */
    padding-bottom: 8px; /* Espaçamento inferior */
    transition: color 0.3s; /* Transição de cor suave */
    position: relative; /* Posição relativa para pseudoelementos */
    font-size: 12px; /* Tamanho da fonte */
}

/* Efeito de linha nos links ao passar o mouse */
nav a:before {
    content: ''; /* Criar elemento pseudoelemento */
    position: absolute; /* Posição absoluta */
    width: 100%; /* Largura total */
    height: 2px; /* Altura da linha */
    background-color: #1E5E8B; /* Cor da linha */
    bottom: 0; /* Alinhar na parte inferior */
    left: 0; /* Alinhar à esquerda */
    transform: scaleX(0); /* Esconder linha inicialmente */
    transform-origin: bottom right; /* Origem da transformação */
    transition: transform 0.3s ease-out; /* Transição suave */
}

/* Efeito de expansão da linha ao passar o mouse */
nav a:hover:before {
    transform: scaleX(1); /* Expandir linha */
    transform-origin: bottom left; /* Origem da transformação */
}

/* Espaçamento entre itens de navegação */
.nav-item {
    margin-right: 30px; /* Espaço à direita entre itens */
}

/* Estilização para link atualmente selecionado */
nav .topico-atual a:before {
    transform: scaleX(1); /* Expandir linha */
    transform-origin: bottom left; /* Origem da transformação */
}

/* Estilização do rodapé */
footer {
    background-color: #000000; /* Cor de fundo preta */
    color: #ffffff; /* Cor do texto branca */
    padding: 3px; /* Espaçamento interno */
    text-align: center; /* Alinhamento central */
    font-size: 10px; /* Tamanho da fonte */
    width: 100%; /* Largura total */
}

/* Estilização do título */
.titulo {
    text-align: center; /* Alinhamento central */
    margin-bottom: 20px; /* Espaçamento inferior */
}

/* Estilização do container do formulário */
.container-form {
    max-width: 650px; /* Largura máxima */
    margin: 0 auto; /* Centralizar na página */
    padding: 20px; /* Espaçamento interno */
    background-color: #000000; /* Cor de fundo preta */
    border: 1px solid #ccc; /* Borda com cor */
    border-radius: 10px; /* Bordas arredondadas */
}

/* Estilização do formulário de cadastro */
.form-cadastro {
    margin-bottom: 20px; /* Espaçamento inferior */
}

/* Estilização dos rótulos do formulário */
.form-cadastro label {
    display: block; /* Mostrar como bloco */
    margin-bottom: 10px; /* Espaçamento inferior */
    color: #ffffff; /* Cor do texto branca */
    font-weight: bold; /* Texto em negrito */
}

/* Estilização dos campos de entrada do formulário */
.form-cadastro input[type="text"],
.form-cadastro input[type="email"] {
    width: 100%; /* Largura total */
    height: 30px; /* Altura do campo */
    margin-bottom: 20px; /* Espaçamento inferior */
    padding: 0; /* Remover padding padrão */
    border: 1px solid #ccc; /* Borda com cor */
    border-radius: 5px; /* Bordas arredondadas */
    background-color: white; /* Cor de fundo branca */
}

/* Estilização do botão de cadastrar */
.btn-cadastrar {
    width: 100%; /* Largura total */
    height: 40px; /* Altura do botão */
    background-color: #1E5E8B; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branca */
    padding: 10px; /* Espaçamento interno */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor ao passar */
    font-weight: bold; /* Texto em negrito */
}

/* Efeito de hover no botão de cadastrar */
.btn-cadastrar:hover {
    background-color: #9EB9CC; /* Mudança de cor ao passar o mouse */
}

/* Estilização da logo */
.logo {
    float: left; /* Flutuar à esquerda */
    margin-right: 20px; /* Margem à direita */
    margin-left: 10px; /* Margem à esquerda */
    width: 90px; /* Largura da logo */
    height: 45px; /* Altura da logo */
}
