/* Reset e Estilos Básicos */

/* Estilização básica do corpo da página */
body {
    font-family: 'Arial', sans-serif; /* Fonte padrão */
    margin: 0; /* Remover margens padrão */
    padding: 0; /* Remover padding padrão */
    background-color: #ffffff; /* Cor de fundo branca */
    overflow-x: hidden; /* Ocultar rolagem horizontal */
}

/* Estilização do cabeçalho */
header {
    background-color: #000000; /* Cor de fundo preta */
    color: #ffffff; /* Cor do texto branca */
    padding: 0; /* Remover padding padrão */
    display: flex; /* Usar flexbox para layout */
    justify-content: space-between; /* Espaçamento entre elementos */
    align-items: center; /* Centralizar itens verticalmente */
    height: 70px; /* Altura do cabeçalho */
}

/* Estilização da logo no cabeçalho */
.logo {
    float: left; /* Flutuar à esquerda */
    margin-right: 20px; /* Margem à direita */
    margin-left: 10px; /* Margem à esquerda */
    width: 90px; /* Largura da logo */
    height: 45px; /* Altura da logo */
}

/* Estilização da lista de navegação */
nav ul {
    list-style-type: none; /* Remover marcadores de lista */
    margin: 0; /* Remover margem padrão */
    padding: 0; /* Remover padding padrão */
    display: flex; /* Usar flexbox para layout */
    justify-content: center; /* Centralizar itens horizontalmente */
    gap: 222px; /* Espaçamento entre os itens */
}

/* Estilização dos links de navegação */
nav a {
    color: #ffffff; /* Cor do texto branca */
    text-decoration: none; /* Remover decoração de link */
    font-weight: bold; /* Texto em negrito */
    padding-bottom: 8px; /* Espaçamento inferior */
    transition: color 0.3s; /* Transição suave de cor */
    position: relative; /* Posição relativa para pseudoelementos */
    font-size: 12px; /* Tamanho da fonte */
}

/* Efeito de linha nos links de navegação ao passar o mouse */
nav a:before {
    content: ''; /* Criar elemento pseudoelemento */
    position: absolute; /* Posição absoluta */
    width: 100%; /* Largura total */
    height: 2px; /* Altura da linha */
    background-color: #1E5E8B; /* Cor da linha */
    bottom: 0; /* Alinhar na parte inferior */
    left: 0; /* Alinhar à esquerda */
    transform: scaleX(0); /* Esconder linha inicialmente */
    transform-origin: bottom right; /* Origem da transformação */
    transition: transform 0.3s ease-out; /* Transição suave */
}

/* Efeito de expansão da linha nos links ao passar o mouse */
nav a:hover:before {
    transform: scaleX(1); /* Expandir linha */
    transform-origin: bottom left; /* Origem da transformação */
}

/* Espaçamento entre itens de navegação */
.nav-item {
    margin-right: 30px; /* Espaço à direita entre itens */
}

/* Conteúdo Principal */

/* Estilização do título principal */
h1 {
    margin-top: 20px; /* Espaçamento superior */
}

/* Estilização da galeria de produtos */
.gallery {
    display: flex; /* Usar flexbox para layout */
    flex-wrap: wrap; /* Permitir que os itens quebrem linha conforme necessário */
    justify-content: center; /* Centralizar itens horizontalmente */
    gap: 20px; /* Espaçamento entre os itens */
    padding: 20px; /* Espaçamento interno */
}

/* Estilização dos produtos na galeria */
.produto {
    width: 200px; /* Largura de cada produto */
    background-color: #fff; /* Cor de fundo branca */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    text-align: center; /* Alinhamento central */
    overflow: hidden; /* Ocultar conteúdo que transborda */
    transition: transform 0.3s ease; /* Transição suave */
}

/* Efeito de levantar o produto ao passar o mouse */
.produto:hover {
    transform: translateY(-5px); /* Levantar produto */
}

/* Estilização das imagens dos produtos */
.produto img {
    width: 100%; /* Largura total */
    height: auto; /* Altura automática */
    border-top-left-radius: 5px; /* Borda arredondada superior esquerda */
    border-top-right-radius: 5px; /* Borda arredondada superior direita */
}

/* Estilização das informações dos produtos */
.produto-info {
    padding: 10px; /* Espaçamento interno */
}

/* Estilização do rodapé */
footer {
    background-color: #000000; /* Cor de fundo preta */
    color: #ffffff; /* Cor do texto branca */
    padding: 3px; /* Espaçamento interno */
    text-align: center; /* Alinhamento central */
    font-size: 10px; /* Tamanho da fonte */
    bottom: 0; /* Alinhar ao rodapé */
    width: 100%; /* Largura total */
}
