/* Estilização do cabeçalho */
header {
    background-color: #000000; /* Cor de fundo preta */
    color: #ffffff; /* Cor do texto branca */
    padding: 0; /* Remover padding padrão */
    display: flex; /* Usar flexbox para layout */
    justify-content: space-between; /* Espaçamento entre elementos */
    align-items: center; /* Centralizar itens verticalmente */
    height: 70px; /* Altura do cabeçalho */
}

/* Estilização básica do corpo da página */
body {
    font-family: 'Arial', sans-serif; /* Fonte Arial ou sans-serif */
    margin: 0; /* Remover margens padrão */
    padding: 0; /* Remover padding padrão */
    background-color: #ffffff; /* Cor de fundo branca */
    overflow-x: hidden; /* Ocultar rolagem horizontal */
}

/* Estilização da lista de navegação */
nav ul {
    list-style-type: none; /* Remover marcadores de lista */
    margin: 0; /* Remover margem padrão */
    padding: 0; /* Remover padding padrão */
    display: flex; /* Usar flexbox para layout */
    justify-content: center; /* Centralizar itens horizontalmente */
    gap: 222px; /* Espaçamento entre os itens */
}

/* Estilização dos links de navegação */
nav a {
    color: #ffffff; /* Cor do texto branca */
    text-decoration: none; /* Remover decoração de link */
    font-weight: bold; /* Texto em negrito */
    padding-bottom: 8px; /* Espaçamento inferior */
    transition: color 0.3s; /* Transição suave de cor */
    position: relative; /* Posição relativa para pseudoelementos */
    font-size: 12px; /* Tamanho da fonte */
}

/* Efeito de linha nos links de navegação ao passar o mouse */
nav a:before {
    content: ''; /* Criar elemento pseudoelemento */
    position: absolute; /* Posição absoluta */
    width: 100%; /* Largura total */
    height: 2px; /* Altura da linha */
    background-color: #1E5E8B; /* Cor da linha */
    bottom: 0; /* Alinhar na parte inferior */
    left: 0; /* Alinhar à esquerda */
    transform: scaleX(0); /* Esconder linha inicialmente */
    transform-origin: bottom right; /* Origem da transformação */
    transition: transform 0.3s ease-out; /* Transição suave */
}

/* Efeito de expansão da linha nos links ao passar o mouse */
nav a:hover:before {
    transform: scaleX(1); /* Expandir linha */
    transform-origin: bottom left; /* Origem da transformação */
}

/* Espaçamento entre itens de navegação */
.nav-item {
    margin-right: 30px; /* Espaço à direita entre itens */
}

/* Estilização do rodapé */
footer {
    background-color: #000000; /* Cor de fundo preta */
    color: #ffffff; /* Cor do texto branca */
    padding: 3px; /* Espaçamento interno */
    text-align: center; /* Alinhamento central */
    font-size: 10px; /* Tamanho da fonte */
    position: absolute; /* Posição absoluta */
    bottom: 0; /* Alinhar ao rodapé */
    width: 100%; /* Largura total */
}

/* Estilização do formulário de cadastro */
.form-cadastro {
    max-width: 400px; /* Largura máxima do formulário */
    margin: 40px auto; /* Margem automática nas laterais e espaçamento superior/inferior */
    padding: 10px; /* Espaçamento interno */
    background-color: #000000; /* Cor de fundo preta */
    border: 1px solid #ddd; /* Borda com cor cinza */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 10px; /* Bordas arredondadas */
}

/* Estilização das etiquetas no formulário */
.form-cadastro label {
    display: block; /* Exibir como bloco */
    margin-bottom: 10px; /* Margem inferior */
    font-weight: bold; /* Texto em negrito */
    color: #ffffff; /* Cor do texto branca */
}

/* Estilização dos selects e inputs numéricos no formulário */
.form-cadastro select,
.form-cadastro input[type="number"] {
    width: 94%; /* Largura */
    height: 40px; /* Altura */
    margin-bottom: 20px; /* Margem inferior */
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda com cor cinza */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
}

/* Efeito de foco nos selects e inputs numéricos */
.form-cadastro select:focus,
.form-cadastro input[type="number"]:focus {
    border-color: #aaa; /* Cor da borda ao focar */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ao focar */
}

/* Estilização do botão de envio no formulário */
.form-cadastro button[type="submit"] {
    width: 100%; /* Largura total */
    height: 40px; /* Altura */
    background-color: #1E5E8B; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branca */
    padding: 10px; /* Espaçamento interno */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor ao passar por cima */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Texto em negrito */
}

/* Efeito de hover no botão de envio */
.form-cadastro button[type="submit"]:hover {
    background-color: #9EB9CC; /* Cor de fundo azul claro ao passar o mouse */
}

/* Estilização do título principal */
h1 {
    text-align: center; /* Alinhamento central */
}

/* Estilização da logo no cabeçalho */
.logo {
    float: left; /* Flutuar à esquerda */
    margin-right: 20px; /* Margem à direita */
    margin-left: 10px; /* Margem à esquerda */
    width: 90px; /* Largura da logo */
    height: 45px; /* Altura da logo */
}
